@use '@/styles/vars/variables' as *;
@use '@/styles/mixins/mixins' as *;
@use '@/styles/functions/functions' as *;

.app {
    width: 100%;
    height: 100%;
}

.header {
    @include container;

    padding: $spacing-xl $spacing-xl 0 $spacing-xl;
}

.title {
    text-align: center;
}

.main {
    @include container;

    display: grid;
    grid-template-columns: 1fr rem(320px);
    gap: $spacing-xl;
    padding-block: $spacing-xl;

    @include respond-to(lg) {
        grid-template-columns: 1fr;
    }
}

.products {
    min-width: 0;
}

.title {
    font-size: $font-size-2xl;
}
