@use '@/styles/vars/variables' as *;
@use '@/styles/mixins/mixins' as *;

.list {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-lg;

    width: 100%;
    padding: 0;

    list-style: none;
}

.item {
    display: flex;
    flex: 0 1 calc((100% - 2 * #{$spacing-lg}) / 3);

    @include respond-to(lg) {
        flex-basis: calc((100% - #{$spacing-lg}) / 2);
    }

    @include respond-to(sm) {
        flex-basis: 100%;
    }

    & > * {
        width: 100%;
    }
}

.status {
    padding: $spacing-xl 0;
    font-size: $font-size-md;
    color: $color-text-muted;
    text-align: center;
}
